.home_wrapper {
  & ::ng-deep {
    & .instruction {
      padding: 0 1rem 0 1rem;
    }
    & .edit_button {
      margin-left: auto;
    }
  }
  & .difficultyLevel {
    pointer-events: none;
  }
  & .button_header {
    margin-left: auto;
  }
  & .card ::ng-deep .recipe_filter{
    margin-right: 2rem;
  }
}
