.recipe_wrapper{
  & .header_wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    & .difficultyLevel{
      pointer-events: none;
    }
  }

  & .content_wrapper{
    display: flex;
    flex-direction: row;

    & .content{
      display: flex;
      flex-direction: column;
    }

    & .content_left{
      padding-right: 2rem;
    }

    & .content_right{
      border-left: 1px solid #dee2e6;
      padding-left: 1rem;
      & .card{
        padding: 1rem;
        & ::ng-deep th:last-child {
          text-align: center !important;
        }
      }
    }
  }

  & .footer_wrapper{
    padding-top: 2rem;
    display: flex;
    justify-content: end;

    & .delete_btn{
      margin-right: auto;
    }

    & .back_btn{
      margin-right: 1rem;
    }
  }
}
