<ng-container *ngIf="(recipe | async) as recipe">
  <div class="recipe_wrapper">

    <div class="header_wrapper">
      <p-rating [(ngModel)]="recipe.rating" [readonly]="false" [cancel]="false"></p-rating>
      <p-inputNumber inputId="integeronly" [(ngModel)]="recipe.prepTimeMinutes" class="input_preptime"
        placeholder="Preparation Time" />
      <input type="text" pInputText [(ngModel)]="recipe.name" class="text-2xl font-bold text-900" placeholder="Title" />
      <ng-container *ngIf="(categories | async) as categories">
        <div class="category_wrapper">
          <p-dropdown [options]="categories" [(ngModel)]="recipe.categoryId"
            (onChange)="onCategoryChange(recipe, $event)" optionLabel="title" [filter]="true" filterBy="title"
            [showClear]="true" placeholder="Select a Category" [virtualScroll]="true" [virtualScrollItemSize]="50">
            <ng-template pTemplate="selectedItem">
              <div class="flex align-items-center gap-2" *ngIf="selectedCategory.title != ''">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + selectedCategory.title.toLowerCase()" style="width: 18px" />
                <div>{{ selectedCategory.title }}</div>
              </div>
            </ng-template>
            <ng-template let-category pTemplate="item">
              <div class="flex align-items-center gap-2">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                  [class]="'flag flag-' + category.title.toLowerCase()" style="width: 18px" />
                <div>{{ category.title }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </ng-container>
      <div class="difficultyLevel_wrapper">
        <p-dropdown [options]="difficultyLevel" [(ngModel)]="recipe.difficultyLevel"
          placeholder="Select Difficulty Level">
        </p-dropdown>
      </div>
    </div>

    <div class="instruction_wrapper">
      <textarea rows="6" pInputTextarea [(ngModel)]="recipe.instruction" placeholder="Instruction"
        [autoResize]="true"></textarea>
    </div>

    <div class="content_wrapper">

      <div class="content_left content">
        <div class="image_wrapper card flex justify-content-center" *ngIf="recipe.id != 0 || recipe.thumbnailUrl != ''">
          <p-image [src]="getImageUrl(recipe)" alt="Image" width="300" [preview]="true"></p-image>
        </div>
        <div class="card flex justify-content-center">
          <p-toast></p-toast>
          <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*"
            [maxFileSize]="20000000" (onUpload)="onUploadNewImage(recipe, $event)" [auto]="true"
            chooseLabel="Browse"></p-fileUpload>
        </div>
      </div>

      <div class="content_right content">
        <div class="card" *ngIf="recipe.recipeIngredients.length > 0">
          <p-toast></p-toast>
          <p-table [value]="recipe.recipeIngredients" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:20%">Name</th>
                <th style="width:20%">Amount</th>
                <th style="width:20%" class="add_button_wrapper">
                  <p-button (onClick)="showRecipeIngredientDialog(recipe)">Add</p-button>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="rowData">
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      {{rowData.ingredient.name}}
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.ingredient.name}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.amount">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.amount}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                      class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                      class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                      class="p-button-rounded p-button-text p-button-danger"></button>
                    <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                      (click)="deleteRecipeIngredientRow(recipe, rowData)"
                      class="p-button-rounded p-button-text p-button-danger"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="no_recipeIngredients" *ngIf="recipe.recipeIngredients.length == 0">
          <p-button (onClick)="showRecipeIngredientDialog(recipe)">Add Ingredient</p-button>
        </div>
      </div>

    </div>

    <div class="footer_wrapper">
      <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-danger" class="delete_btn" *ngIf="recipe.id > 0"
        (click)="deleteRecipe(recipe)"></p-button>
      <p-button label="Back" class="back_btn" (click)="close()"></p-button>
      <p-button label="Save" (click)="saveRecipe(recipe)"></p-button>
    </div>
  </div>
</ng-container>
