<div class="recipe_ingredient_dialog_wrapper">
  <div class="p-inputgroup">
    <p-dropdown [options]="ingredientData" [(ngModel)]="selectedIngredient" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select an Ingredient">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedIngredient.name != ''">
          <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + selectedIngredient.name.toLowerCase()" style="width: 18px"/>
          <div>{{ selectedIngredient.name }}</div>
        </div>
      </ng-template>
      <ng-template let-ingredient pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + ingredient.name.toLowerCase()" style="width: 18px"/>
          <div>{{ ingredient.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <input [(ngModel)]="newRecipeIngredient.amount" type="text" pInputText placeholder="Amount"/>
    <p-button (onClick)="saveNewEntry()">Add</p-button>
  </div>
</div>
