<div class="layout_wrapper">

  <p-menubar [model]="items" class="layout_header">
    <ng-template pTemplate="start">
        <img src="/assets/images/recipe-icon.jpg" alt="MISSING LOGO" height="40" class="mr-2" routerLink=""/>
    </ng-template>
  </p-menubar>

  <router-outlet></router-outlet>

  <p-menubar class="layout_footer">
    <ng-template pTemplate="start">
      <div class="footer_wrapper">
        <label>Your Recipe Book</label>
        <label>By Edwin Miller & Lukas Schneider</label>
        <label>BBS GuT IuK F1a</label>
      </div>
    </ng-template>
  </p-menubar>

</div>
